.Landing-Header {
    margin: 0px 15px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Log-In {
    padding: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .Log-In:hover {
    background-color: rgb(102, 102, 233);
    color: #ffffff;
  }  